.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #fafafa;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.BuildControl button:disabled {
    background-color: rgb(128, 172, 139);
    border: 1px solid rgb(255, 255, 255);
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: rgb(55, 99, 82);
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
    color: #5e5e5e
}

.BuildControl .Less {  
    background-color: #52d3ac;
    color: white;
}

.BuildControl .More {
    background-color: #06a776;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #74ffd5fa;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #08cf94;
    color: white;
}

